.box{
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 ;
    padding: 10px;
}

.box1{background:cyan;}
.box2{background:red ;}
.box3{background:greenyellow ;}
.box4{background:green ;}
.box5{background:blueviolet ;}
.box6{background:blue ;}
.box7{background:yellowgreen ;}
.box8{background:slateblue ;}
.box9{background:royalblue;}
.box10{background:rosybrown ;}
